In [19]:
# Load necessary libraries
install.packages("readr")  # If not installed
library(readr)

install.packages("readxl")

Warning message:
"package 'readr' is in use and will not be installed"
Warning message:
"package 'readxl' is in use and will not be installed"

In [20]:
library(readxl)

data <- read_excel("C:\\Users\\Eman Asghar\\Desktop\\online_retail.xlsx", sheet = 1)
head(data)

  Invoice StockCode Description                         Quantity
1 489434  85048     15CM CHRISTMAS GLASS BALL 20 LIGHTS 12
2 489434  79323P    PINK CHERRY LIGHTS                  12
3 489434  79323W    WHITE CHERRY LIGHTS                 12
4 489434  22041     RECORD FRAME 7" SINGLE SIZE         48
5 489434  21232     STRAWBERRY CERAMIC TRINKET BOX      24
6 489434  22064     PINK DOUGHNUT TRINKET POT           24
  InvoiceDate         Price Customer ID Country
1 2009-12-01 07:45:00 6.95  13085       United Kingdom
2 2009-12-01 07:45:00 6.75  13085       United Kingdom
3 2009-12-01 07:45:00 6.75  13085       United Kingdom
4 2009-12-01 07:45:00 2.10  13085       United Kingdom
5 2009-12-01 07:45:00 1.25  13085       United Kingdom
6 2009-12-01 07:45:00 1.65  13085       United Kingdom

In [25]:
# Check for missing values
colSums(is.na(data))

# Remove rows with missing CustomerID
data <- na.omit(data[!is.na(data$'Customer ID'), ])

    Invoice   StockCode Description    Quantity InvoiceDate       Price
          0           0        2928           0           0           0
Customer ID     Country
     107927           0

In [27]:
# Replace missing values in UnitPrice and Quantity with their median
data$Price[is.na(data$Price)] <- median(data$Price, na.rm = TRUE)
data$Quantity[is.na(data$Quantity)] <- median(data$Quantity, na.rm = TRUE)

# Check for missing values after cleaning
colSums(is.na(data))

    Invoice   StockCode Description    Quantity InvoiceDate       Price
          0           0           0           0           0           0
Customer ID     Country
          0           0

In [28]:
# Save the cleaned dataset
write.csv(data, "C:/Users/Eman Asghar/Desktop/processed_online_retail.csv", row.names = FALSE)

# Display final dataset structure
str(data)

tibble [417,534 × 8] (S3: tbl_df/tbl/data.frame)
 $ Invoice    : chr [1:417534] "489434" "489434" "489434" "489434" ...
 $ StockCode  : chr [1:417534] "85048" "79323P" "79323W" "22041" ...
 $ Description: chr [1:417534] "15CM CHRISTMAS GLASS BALL 20 LIGHTS" "PINK CHERRY LIGHTS" "WHITE CHERRY LIGHTS" "RECORD FRAME 7\" SINGLE SIZE" ...
 $ Quantity   : num [1:417534] 12 12 12 48 24 24 24 10 12 12 ...
 $ InvoiceDate: POSIXct[1:417534], format: "2009-12-01 07:45:00" "2009-12-01 07:45:00" ...
 $ Price      : num [1:417534] 6.95 6.75 6.75 2.1 1.25 1.65 1.25 5.95 2.55 3.75 ...
 $ Customer ID: num [1:417534] 13085 13085 13085 13085 13085 ...
 $ Country    : chr [1:417534] "United Kingdom" "United Kingdom" "United Kingdom" "United Kingdom" ...